.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  .container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 64px;
      color: dimgrey;
    }

    .input {
      padding-left: 5px;
      width: 330px;
      color: grey;
      text-decoration: none;
      text-align: left;
      margin-bottom: 15px;
      font-size: 20px;
      height: 40px;

      label {
        padding-left: 5px;
      }
    }
  }
}
